* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #fafafa;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  padding: 2rem;
}

.title {
  padding: 1rem 0 0;
}

.selectedCurrencyList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 1rem;
  border-bottom: 1px solid #ccc;
}

.currencyList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.currencyItem {
  padding: 2rem;
  width: 130px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

.deleteIcon {
  padding: 0.3rem 0.45rem;
  border: 1px solid #000;
  border-radius: 30px;
}

.deleteIcon:hover {
  color: #fff;
  background-color: black;
}
